body{
  background-color: tomato;
}
h1{
  text-decoration:underline;
  font-family: cursive;
  font-size:30px;
  text-decoration-color: purple;
}
li{
  font-size: 15px;
  font-family:cursive;
}
h2,h3,h4,h5{
  font-size:20px;
  font-family:serif;
  text-color:purple;
}
em{
  font-weight:bold;
}
strong{
  font-weight:bold;
}
p {
  font-family:cursive;
}
